#tm {
    background-color: rgb(23, 23, 23);
    color: white;
    width: 100%;
    top: 96.5%;
    bottom: 0;
    padding: 17.1px;
    z-index: 18;
    font-size: .6rem;
}

.largeSizeFont {
    font-size: medium;
}

#Link {
    text-decoration: underline;
    color: rgb(255, 205, 104);
}