<!-- USER WELCOME -->
<div class="hero-body hero-body-wc">
    <div class="level">
        <div class="level-left">
            <div class="level-item is-hero-avatar-item">
                <div class="image is-128x128">
                    <img class="is-rounded" src="assets/pineapple.png" alt="temp icon">
                </div>
            </div>
            <div>
                <h1 class="title is-spaced white-text"><b>Welcome to Our Project Page</b></h1>
                <p><i>"Power isn’t determined by your size, but the size of your heart and dreams!" - Monkey D
                        Luffy.</i></p>
                <p>Project by: Ted Kim, David Nguyen, Hien Nguyen</p>
            </div>
        </div>
    </div>
</div>

<div class="tile">

    <div class="tile is-parent">
        <div class="tile is-child box notification is-light">
            <p class="title">Register</p>
            Checking if input customer data goes into database
            
            <!-- Its time for the forms -->
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box notification is-light">
            <p class="title">Customer Table</p>
            Checking customer data in the database (may have to refresh).

            <!-- Table View -->
            <section style="padding-top: 1em;">
            <table mat-table [dataSource]="testTableData">
                <!-- FName Column -->
                <ng-container matColumnDef="fname">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let data"> {{data.fname}} </td>
                </ng-container>

                 <!-- FName Column -->
                 <ng-container matColumnDef="lname">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let data"> {{data.lname}} </td>
                </ng-container>

                 <!-- FName Column -->
                 <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let data"> {{data.age}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="testTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: testTableColumns;"></tr>
            </table>
        </section>
        </div>
    </div>
</div>