<!-- USER WELCOME -->
<div class="hero-body hero-body-wc">
    <div class="level">
        <div class="level-left">
            <div class="level-item is-hero-avatar-item">
                <div class="image is-128x128">
                    <img class="is-rounded" src="assets/pineapple.png" alt="temp icon">
                </div>
            </div>
            <div>
                <h1 class="title is-spaced white-text"><b>Welcome to Our Project Page</b></h1>
                <p><i>"Power isn’t determined by your size, but the size of your heart and dreams!" - Monkey D
                        Luffy.</i></p>
                <p>Project by: Ted Kim, David Nguyen, Hien Nguyen</p>
            </div>
        </div>
    </div>
</div>

<div class="tile">

    <div class="tile is-parent">
        <div class="tile is-child box notification is-dark">
            <p class="title">Register</p>
            Checking if input customer data goes into database
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box notification is-dark">
            <p class="title">Customer Table</p>
            Checking customer data in the database (may have to refresh).
            
        </div>
    </div>
</div>